.section-content {
  display: flex;
  justify-content: center;
  width: 80;
}

.message-container-cards {
    display: flex;
    flex-direction: column-reverse;
}
  
  .section-content button:hover {
    background-color: rgb(79, 122, 202);
  } 

  div.flex {
    padding-left: 0;
  }

.btn3 {
  box-shadow: 0px 0px 25px #333; 
  margin-top: 20px;
}