.section-content {
  display: flex;
  justify-content: center;
  width: 80;
}

.message-container-cards {
    display: flex;
    flex-direction: column-reverse;
}

.section-content button {
    background-color: cornflowerblue;
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    width: 80%;
  }
  
  .section-content button:hover {
    background-color: rgb(79, 122, 202);
  } 

  div.flex {
    padding-left: 0;
  }