header {
    background-color: #333;
    font-size: larger;
    font-weight: 500;
    
}

nav ul {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

nav li {
    padding: 10px;
    text-align: center;
    list-style-type: none;
    flex: 1;
} 

.nav-link {
    color: #007cff;
}

.nav-link:hover {
    color: rgb(191, 39, 39);
    text-shadow: 1px 1px 10px red;
}

